{% extends 'base.html.twig' %}

{% block title %} Création d'un article {% endblock %}


{% block body %}

    <div class="container">
        <h1> Créer un nouvel article </h1>

        <!-- Creer la balise form seulement et la méthode en Post -->
        {{ form_start(form) }}

       {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary"> Créer le nouvel article </button>

        {{ form_end(form) }}

    </div>

{% endblock %}