
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/node_modules/

/.idea/
node_modules/.bin/acorn
node_modules/.bin/ansi-html
node_modules/.bin/ansi-html.cmd
node_modules/.bin/atob
node_modules/.bin/atob.cmd
.idea/workspace.xml
