
/** -----------------------  FRONTEND ---------------------------------- **/


/** --------------------------- GENERAL --------------------------------- **/

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(15px);
        transform: translateY(15px);
    }
    50%
    {
        -webkit-transform: translateX(-3px);
        transform: translateY(-3px);
    }

    70%
    {
        -webkit-transform: translateX(0);
        transform: translateY(0);
    }
}

body{
    background-color: #ebedea;
    overflow-x: hidden;
}

h1{
    font-family: "Comfortaa", "helvetica", "sans-serif";
}

h2, h3, h4, h5, h6{
    font-family: "Montserrat", "helvetica", "sans-serif";
}

p, li, a {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.15em;
}

.bg-purple{
    background: #631498;
}

.bg-blue{
    background: #3644AF;
}

.bg-green{
    background: #018739;
}

.bg-orange{
    background: #f39c11;
}

.bg-teal{
    background:#16a086;
}

.bg-teal-gradient{
    background: linear-gradient(243deg,#00bc9d 0%,#00d889 100%);
    color: white;
    border:none;
    text-transform: uppercase;
    font-family: "Montserrat Medium", "sans-serif";
    transition: .2s;
}

.bg-teal-gradient:hover{
    color:white;
    letter-spacing: 1px;
}

.fa-angle-right{
    font-size: 1.3rem;
    margin-left: .5rem;
    transform: translateX(-2rem);
    opacity: 0;
    transition : .4s;
}

.ask-button {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    padding-left: 2rem;
    background-size: 300% 100%;
    color:white;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-size:1.2rem;
    font-family: "Montserrat Medium", 'sans-serif';
}

.ask-button:hover{
    letter-spacing: .1rem;
    background-position: 100% 0;
    color:white;
}

.ask-button:hover > .fa-angle-right {
    opacity: 1;
    transform:translateX(0rem);
}



/** ---------------------- MAIN MENU ------------------------------------ **/


.navbar .nav-link{
    font-size: .95rem;
    text-transform : uppercase;
    font-family: 'Open Sans Semibold', 'helvetica', 'sans-serif';
}

.underline{
    font-family: 'Montserrat', 'helvetica', 'sans-serif';
}
.menu-nav {
    background: none !important;
}

.current{
    color:#154069 !important;
}

#logo-container{
    background: linear-gradient(#2b2b2b, #0b0b0b);
    padding-left: 20px;
    padding-right:5px;
    padding-bottom: 15px;
    padding-top:20px;
    border-radius: 0 0 10px 10px;
    transform: translateY(-10px);
}


.navbar-menu-perso {
    background: none;
    z-index: 5;
}

.main-menu li a{
    color:white;
}

.main-menu li a:hover{
    color:#d9d9d9;
}

.logo
{
    width: 150px;
}

/** ------------------------------ MENU DARK ----------------------- **/

.navbar-menu-dark{
    background: #1b1b1f;
}

.dark-active{
    color:#00d78a !important;
}



/** --------------------------  HOMEPAGE PARTICLES ------------------------------ **/
header{
    position: relative;
    height: 86vh;
}

#particles-js {

    height:100vh;
    background: linear-gradient(#1ebdb3, #107889, #184976);
    position: absolute;
    top: -120px;
    left: 0;
    width: 100%;
    z-index: 3;
    -webkit-box-shadow: 0 1px 10px 10px #777;
    -moz-box-shadow: 0 1px 10px 10px #777;
    box-shadow: 0 1px 10px 10px #777;
}

#Home-title{
    color:white;
    margin-top: 30%;
    text-align:center;
    z-index: 2;
    pointer-events: none;
    position: absolute;
}

.Title-Homepage{
    font-family: "Comfortaa", 'helvetica', 'sans-serif';
    font-size: 3.4rem;
}

.page-header-services .Title-Homepage, .page-header-works .Title-Homepage
{
    margin-top: 10rem;
}


#home-icons{
    cursor:default;
    display: flex;
    justify-content: center;
    margin-top: 3.5em;
}
#home-icons i {
    font-size: 2.5em;
    color:#00caae;
    margin-bottom: .3em;
}

#home-icons p{
    font-size: .9em;
}


.phone{
    position: absolute;
    top: 100px !important;
    right:1%;
    color:white;
    pointer-events: none;
}

.button-home{
    pointer-events: auto !important;
}

.phone i {
    font-size: 1.5em;
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}



/** -------------------- SERVICES SECTION -------------------------- **/

.btn-skills{
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color:white;
    font-family: "Montserrat Light", 'sans-serif';
    text-transform: uppercase;
}

#services-section{
    position:relative;
    transform: translateY(-50px);
    background: white;
}

.ServicesTitle{
    font-family: "Open Sans", "helvetica", "sans-serif";
    font-weight: 800;
    text-align:center;
    font-size: 38px;
    margin-top: 110px;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.icon-services{
    width: 5em;
    margin-bottom: 20px;
}

.icon-services:hover
{
    -webkit-animation: swing 0.8s ease;
    animation: swing 0.8s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.services-title{
    font-size: 1.2em;
    font-family: "Open Sans", "helvetica";
    font-weight: 800 !important;
}

.services-button{
    margin-bottom: 80px;
}

.service-container
{
    padding-bottom: 100px;
}


/** ----------------------- EXPERTS SECTION ---------------------------------- **/

.illuClient{
    width: 650px;
}

.client-container{
    margin-bottom: 100px;
}






/** ---------------- QUALITIES SECTION --------------------------- **/


#why-us{
    margin-bottom: 100px;
    padding-top: 100px;
}

.card-title{
    font-family: 'Montserrat Medium', 'sans-serif';
    text-transform: uppercase;
    font-size: 1.2em;
}

.quality-bloc-img{
    width: 180px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.illuEchangeClient{
    width: 500px;
    padding-top: 70px;
}

/** --------------------- QUESTIONS SECTION ----------------------------- **/

.question{
    background: #212529;
}

.questions-title{
    margin-top: 100px;
}

.questions-subtitle{
    font-family: "Montserrat SemiBold", "sans-serif";
    text-align: center;
    margin-top:50px;
}

.response-p
{
    font-size:1em;
    color: #9b9b9b;
    font-family: "Montserrat Light", "sans-serif";
}

/** ------------------------ FOOTER --------------------------------- **/

#main-footer{
    background-color:#16181a;
}





/** ------------------------------------------------- PAGE SERVICES ------------------------------------------------------------- **/

.page-header-services{
    height: 500px;
    margin-top: -150px;
    background: url("http://localhost/agencywebsite/public/img/geometric-background.jpg"),
        linear-gradient(90deg,#142031 -10%,#0780b5 100%);
    background-blend-mode: overlay;
    background-attachment: fixed;
    color: #fff;
    padding-top: 50px;
    z-index: -1;
    position:relative;
}

.page-header-works{
    height: 500px;
    margin-top: -150px;
    background: url("http://localhost/agencywebsite/public/img/geometric-background.jpg"),
        linear-gradient(90deg,#142031 -10%,#0780b5 100%);
    background-blend-mode: overlay;
    background-attachment: fixed;
    color: #fff;
    padding-top: 50px;
    z-index: -1;
    position:relative;
}


.overlay-services-bg{

    height: 500px;
    z-index: -30;
}

#page-header h1{
    margin-top:180px;
    margin-bottom:20px;
    font-size: 3.5rem;
    font-family: "Comfortaa", 'helvetica', 'sans-serif' !important;
}

.container-pages {
    background-color: white;
    margin: -4rem 4rem 4rem 4rem;
    z-index:5;
    border-radius: .2rem;
    -webkit-box-shadow : 0px 2px 18px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

.card-services {
    margin: .8rem;
    border-radius: .4rem 0 .4rem .4rem;
    background-color: white;
    box-shadow: 0 4px 14px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 4px 14px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 4px 14px 1px rgba(0,0,0,0.5);

}

.title-card-services{
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: 'Comfortaa', 'sans-serif' !important;
    text-transform:uppercase;
    font-size:1.6rem;
    font-weight: bold;
}

.bg-card-services{
    position:relative;
    border-radius: .6rem 0 .6rem .6rem;
}

.bg-icon-services {
    margin: auto;
    margin-top: -4.3rem !important;
    width: 9.3rem;
    min-width:2rem;
    height: 9.3rem;
    border-radius: 50%;
    border: 10px solid white;
    box-shadow: 0 2px 8px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 8px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 8px 1px rgba(0,0,0,0.3);
}

.gradient-primary {
    background: linear-gradient(45deg, #079fa8 , #00d78a);
}


.gradient-yellow {
    background: linear-gradient(45deg, #f7a70c , #f1d13e);
}

.gradient-blue {
    background: linear-gradient(45deg, #0072ff , #00c6ff);
}

.gradient-purple {
    background: linear-gradient(45deg, #6a3093, #a044ff);
}

.gradient-turquoise {
    background: linear-gradient(45deg, #1CD8D2, #93EDC7);
}

.gradient-orange {
    background: linear-gradient(45deg, #f83600, #fe8c00);
}

.icon-services-white{
    width: 4.5rem;
    margin-top: 1.3rem;
}

.icon-services-white:hover{
    -webkit-animation: swing 0.8s ease;
    animation: swing 0.8s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.card{
    border:none !important;
}

.hr-services{
    border: 1px solid #0b0b0b;
    width: 50%;
    margin-bottom: 2rem;
}

.service-wrapper li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings', 'sans-serif';
    font-size: 11px;
    float: left;
    margin-top: 6px;
    margin-left: -17px;
    margin-right: 15px;
    color: #CCCCCC;
}

.service-wrapper li{
    text-align: left;
    list-style-type: none;
    margin: auto;
    font-family: 'Montserrat', 'sans-serif';
}

.service-wrapper a {
    font-size: 1.1rem;
}


/********************************************* PAGE PORTFOLIO *****************************************************/


.work_link{
    cursor: pointer;
}




.category_container{
    justify-content: center;
}

.category_item{
    cursor:pointer;
    padding: .7rem;
    border-radius: .3rem;
    font-family: 'Montserrat Light', 'sans-serif';
}

.category_item:hover:nth-child(1){
    background: #00d78a;
    color: white;
}

.category_item:hover:nth-child(2){
    background: #f47b36;
    color: white;
}


.category_item:hover:nth-child(3){
    background: #ee2326;
    color: white;
}

.category_item:hover:nth-child(4){
    background: #184976;
    color: white;
}

.category_item:hover:nth-child(5){
    background: #c73662;
    color: white;
}


.work-item{
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.work-item:hover > img {
    filter: grayscale(100%);
}

.zoom-hover:hover{
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
}

.hide{
    transform: scale(0) !important;
    width: 0 !important;
    padding: 0 !important;
    transition: all 0.4s ease-in-out;
}



/*********************************************** PAGE INSCRIPTION *******************************************************/

.subscription-container{
    background-color:white;
}

.logo-account{
    width: 100px;
}

.espace-client-underline{
    font-size: .9rem;
    padding-top: 1rem;
    font-family: "Open Sans Light", "sans-serif";
    font-style: italic;
}

.nav-item-account{
    text-transform: none !important;
    font-family: "Open Sans", 'sans-serif' !important;
}


/**************************************** MON COMPTE ***********************************************************/

.fa-sort-down{
    transform: translateY(-2px);
    color: #00d78a;
}

.firstname-account{
    color: #00d78a;
}

.fa-shopping-cart{
    margin-right:.3rem;
}

.order-nav-item{
    background: #f39c11;
}

.menu-nav-account{
    padding: 0 !important;
}



/******************************************** BLOG ************************************************************/

.pageHeaderBlog{
    height: 300px !important;
    background: white;
}

.Title-Homepage-blog{
    font-family: 'Montserrat Light', 'sans-serif';
    padding-top:3rem;
    font-size: 2.7rem;
}






