{% extends 'base.html.twig' %}

{% block title %} Quel est le prix d'un site internet ? Le prix d'une création de logo ou d'un flyer ? Pubizy vous répond. {% endblock %}

{% block body %}

    <h1> Inscription </h1>

{% endblock %}