{% extends 'base.html.twig' %}

{% block title %} Nos travaux : logo, flyer, plaquette, impression dans la Drôme {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">

{% endblock %}

{% block body %}

    <!-- PAGE HEADER -->
    <header class="page-header-works">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1 class="Title-Homepage"> Réalisations </h1>
                    <p class="underline"> Les références de l'agence web & print Pubizy </p>
                </div>
            </div>
        </div>
    </header>


    <!-- PORTFOLIO GALLERY -->
    <section id="gallery" class=" container-pages  portfolio-container-works py-5">
        <div class="container">
            <div class="category_container d-flex mb-4">
                <p class="category_item" id="all"> TOUT VOIR </p>
                <p class="category_item" id="logo-work"> LOGO </p>
                <p class="category_item" id="print"> IMPRESSION </p>
                <p class="category_item" id="web"> WEB </p>
                <p class="category_item" id="3d"> 3D </p>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/560x560" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="560" data-width="560">
                        <div class="work-item logo-work mb-3">
                            <img src="https://source.unsplash.com/random/560x560" alt="" class="img-fluid zoom-hover">
                        </div>

                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/561x561" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="561" data-width="561">
                        <div class="work-item print mb-3">
                            <img src="https://source.unsplash.com/random/561x561" alt="" class="img-fluid zoom-hover">
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/559x559" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="559" data-width="559">
                        <div class="work-item web mb-3">
                            <img src="https://source.unsplash.com/random/559x559" alt="" class="img-fluid zoom-hover">
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/555x555" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="555" data-width="555">
                        <div class="work-item print mb-3">
                            <img src="https://source.unsplash.com/random/555x555" alt="" class="img-fluid  zoom-hover">
                        </div>
                    </a>
                </div>

            </div>


            <div class="row mb-4">
                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/563x563" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="563" data-width="563">
                        <div class="work-item 3d mb-3">
                            <img src="https://source.unsplash.com/random/563x563" alt="" class="img-fluid work-item  zoom-hover">
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/564x564" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="564" data-width="564">
                        <div class="work-item print mb-3">
                            <img src="https://source.unsplash.com/random/564x564" alt="" class="img-fluid zoom-hover">
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/558x558" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="558" data-width="558">
                        <div class="work-item logo-work mb-3">
                            <img src="https://source.unsplash.com/random/558x558" alt="" class="img-fluid zoom-hover">
                        </div>
                    </a>
                </div>

                <div class="col-md-3">
                    <a href="https://source.unsplash.com/random/564x564" class="work_link" data-toggle="lightbox" data-gallery="img-gallery" data-height="564" data-width="564">
                        <div class="work-item 3d mb-3">
                            <img src="https://source.unsplash.com/random/557x557" alt="" class="img-fluid zoom-hover">
                        </div>
                    </a>
                </div>

            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="{{ asset('js/portfolio.js') }}"></script>

{% endblock %}